<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <a href="/pizza-orders"><li>View All Orders</li></a>
      <a href="/pizza-orders/new"><li>New Order</li></a>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
