tr,td {
  border: 1px solid black;
  padding: 5px 25px;
  margin:0;
}

table {
  text-align: center;
}

ul {
  display:block;
  padding:0;
}

ul li {
  margin: 0 15px 0 0;
  display: inline-block;
  text-decoration:none;
  border: 2px solid black;
  background: #cccccc;
  color:#000;
  border-radius: 10px;
  padding: 10px 25px;
}

.interact {
  background:#ccc;
  padding: 10px 25px;
  border-radius:50px;
  border: 1px solid black;
  font-weight:bold;
  font-size: 16px;
}

.interact-delete {
  background:red;
}

.interact:hover {
  background: #fff;
}
